@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6s3907');
  src:  url('fonts/icomoon.eot?6s3907#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6s3907') format('truetype'),
    url('fonts/icomoon.woff?6s3907') format('woff'),
    url('fonts/icomoon.svg?6s3907#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drive_file_move:before {
  content: "\e91a";
}
.icon-add:before {
  content: "\e91b";
}
.icon-miscellaneous_services:before {
  content: "\e919";
}
.icon-link:before {
  content: "\e914";
}
.icon-message-square:before {
  content: "\e900";
}
.icon-t-shirt:before {
  content: "\e917";
}
.icon-banknote:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e90d";
}
.icon-bill:before {
  content: "\e90d";
}
.icon-money:before {
  content: "\e90d";
}
.icon-cash:before {
  content: "\e90d";
}
.icon-pricetags:before {
  content: "\e909";
}
.icon-tags:before {
  content: "\e909";
}
.icon-prices:before {
  content: "\e909";
}
.icon-shop:before {
  content: "\e909";
}
.icon-ecommerce:before {
  content: "\e909";
}
.icon-dots-three-vertical:before {
  content: "\e912";
}
.icon-transfer:before {
  content: "\e916";
}
.icon-radio-unchecked:before {
  content: "\e908";
}
.icon-cancel-circle:before {
  content: "\e907";
}
.icon-sun:before {
  content: "\e901";
}
.icon-weather:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-magnifier:before {
  content: "\e902";
}
.icon-magnifying-glass:before {
  content: "\e902";
}
.icon-inspect:before {
  content: "\e902";
}
.icon-find:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-profile:before {
  content: "\e903";
}
.icon-avatar:before {
  content: "\e903";
}
.icon-person:before {
  content: "\e903";
}
.icon-member:before {
  content: "\e903";
}
.icon-profile1:before {
  content: "\e923";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-cog:before {
  content: "\e994";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-pencil:before {
  content: "\e911";
}
.icon-glass:before {
  content: "\e9a0";
}
.icon-image:before {
  content: "\e91c";
}
.icon-laptop:before {
  content: "\e918";
}
.icon-pie-chart:before {
  content: "\e915";
}
.icon-mail-forward:before {
  content: "\e913";
}
.icon-dollar:before {
  content: "\e910";
}
.icon-cart-plus:before {
  content: "\e90f";
}
.icon-diamond:before {
  content: "\e90e";
}
.icon-money1:before {
  content: "\e90a";
}
.icon-group:before {
  content: "\e90b";
}
.icon-users:before {
  content: "\e90b";
}
.icon-dashboard:before {
  content: "\e90c";
}
.icon-tachometer:before {
  content: "\e90c";
}
.icon-bars:before {
  content: "\e904";
}
.icon-navicon:before {
  content: "\e904";
}
.icon-reorder:before {
  content: "\e904";
}
.icon-moon-o:before {
  content: "\e905";
}
.icon-bell-o:before {
  content: "\e906";
}
